BODY {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN: 0px; FONT-FAMILY: verdana; BACKGROUND-COLOR: #cccccc
}
A:active {
	COLOR: #333333; TEXT-DECORATION: none
}
A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.buttonBase {
	BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #919191 1px solid; COLOR: #333333; PADDING-TOP: 5px; BORDER-BOTTOM: #919191 1px solid; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: left
}
.buttonOver {
	BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #333333 1px solid; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #336699; TEXT-ALIGN: left
}
.buttonOn {
	BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #333333 1px solid; COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #919191; TEXT-ALIGN: left
}
.dividerHeading {
	BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 8pt; PADDING-BOTTOM: 5px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #919191 1px solid; COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #919191 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #666666; TEXT-ALIGN: left
}
.spacer {
	HEIGHT: 10px
}
